<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Split TXT</title>
  </head>
  <style>
    body {
      font-family: "Arial";
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5vmax;
    }
  </style>
  <body>
    <form action="/auth/txt" enctype="multipart/form-data" method="post">
      <input type="file" name="txt" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
